@charset "UTF-8";
@font-face {
  font-family: "Dela Gothic One";
  src: url(../Fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
  font-family: "Kumar One";
  src: url(../Fonts/KumarOne-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

html {
  background-color: #323232;
}

body {
  margin: 0;
}
body .nothing {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}
body .registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .registration h2 {
  color: white;
}
body .registration .buttons {
  width: 70%;
}
body .registration .buttons a .entry {
  float: left;
  width: 100px;
  height: 40px;
  border-radius: 90px;
  border: 2px solid red;
}
body .registration .buttons a .registr {
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 90px;
  border: 2px solid red;
}
body .registration .fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .registration .fields input {
  width: 70%;
  margin-bottom: 30px;
  border-radius: 30px;
}
body .about_us {
  background: linear-gradient(grey, black);
  height: 400px;
  width: 100%;
}
body .about_us h2 {
  text-align: center;
  font-family: Kumar One;
  color: white;
}
body .about_us p {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body .cont {
  display: flex;
  align-items: center;
  padding: 0;
}
body #quick-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 101;
  font-size: 40px;
}
body #heading {
  display: flex;
  z-index: 100;
  position: absolute;
  top: 0;
  position: fixed;
  transform: translate(-3000px);
  justify-content: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
body #heading svg {
  position: static;
  background: radial-gradient white, black;
  border-radius: 90px/50px;
  display: block;
  margin: auto;
}
body #heading .floating-menu {
  width: 100%;
  height: 1000px;
  margin: auto;
  padding: 0;
  display: block;
  justify-content: center;
  justify-content: space-around;
  background: linear-gradient(rgb(37, 37, 37), black);
  border-radius: 5px; /* rounded corners */
  right: calc(50% - 300px);
  z-index: 1000; /* make sure the menu is on top of other elements */
}
body #heading .floating-menu li {
  display: flex;
  margin: auto;
  width: 70%;
  margin-bottom: 50px;
  margin-top: 10px;
  font-family: Kumar One;
  justify-content: space-between;
  text-align: center;
  background-color: #C3A3A3;
  height: 20px;
  justify-content: center;
  align-items: center;
}
body #heading .floating-menu li a {
  color: black;
}

.info {
  background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(255, 255, 255, 0.425));
  z-index: 10;
  position: absolute;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 500px;
}

.carousel-slide div img {
  width: 100%;
}

.carousel-slide div {
  border: none;
}

.galery {
  width: 100%;
  height: 700px;
}
.galery #next-slide-button {
  transition: all 0.2s ease-out;
  margin-top: 200px;
  margin-right: 50px;
  right: 0;
  z-index: 99;
}
.galery #prev-slide-button {
  transition: all 0.2s ease-out;
  margin-top: 200px;
  margin-left: 50px;
  z-index: 99;
}
.galery #next-slide-button:hover {
  color: white;
  background: black;
  transition: all 0.2s ease-out;
}
.galery #prev-slide-button:hover {
  color: white;
  background: black;
  transition: all 0.2s ease-out;
}
.galery button {
  position: absolute;
  z-index: 2;
  height: 117px;
  border-radius: 50px;
  aspect-ratio: 10/30;
  background: rgba(0, 0, 0, 0.505);
  border: none;
  cursor: pointer;
}
.galery .carousel {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  border: none;
  aspect-ratio: 10/3;
  height: 600px;
  position: absolute; /* Добавляем абсолютное позиционирование */
}
.galery .carousel div .carousel-slide {
  width: 100%;
}
.galery .carousel .carousel-slide {
  display: flex;
  background-color: white;
  flex: 0 0 100%;
  width: 100%;
  color: white;
  transition: transform 0.5s ease-in-out;
  position: absolute; /* Добавляем абсолютное позиционирование */
  left: 0; /* Устанавливаем начальное положение */
}
.galery .carousel .carousel-slide .info {
  height: 160px;
  bottom: 0;
  padding-left: 50px;
}
.galery .carousel .carousel-slide .info a {
  background-color: black;
  width: 500px;
  border: 4px solid red;
  color: white;
  border-radius: 90px;
  font-family: Kumar One;
}
.galery .carousel .carousel-slide img {
  top: 0;
}

h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  color: white;
}

#moviesContainer {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  overflow: scroll;
  width: 100%;
}
#moviesContainer .movie {
  width: 200px;
  margin: 60px;
  text-align: center;
  box-sizing: border-box;
  z-index: 5;
  transform: translate(0);
}
#moviesContainer .movie img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}
#moviesContainer .movie h3 {
  height: 5px;
  color: grey;
}
#moviesContainer .movie h2 {
  font-family: Dela Gothic One;
  color: rgb(240, 240, 240);
  font-size: 18px;
  margin-bottom: 60px;
  height: 40px;
  font-weight: lighter;
}
#moviesContainer .movie p {
  font-family: Kumar One;
  height: 40px;
  margin-bottom: 30px;
  color: grey;
}
#moviesContainer .movie div {
  color: white;
  margin: auto;
  border: 4px solid red;
  border-radius: 20px/20px;
  height: 40px;
  padding-top: 5px;
}
#moviesContainer .movie a {
  background-color: black;
  border: 4px solid red;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  color: white;
}
#moviesContainer a:hover {
  transition: all 0.2s ease-out;
  background-color: white;
  color: black;
}

svg {
  width: 160px;
  height: 50px;
  position: static;
  background: radial-gradient white, black;
  border-radius: 90px/50px;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  background-color: rgb(63, 63, 63);
  margin-bottom: 0;
}

#moviesContainer div {
  display: inline-block;
}/*# sourceMappingURL=P1M.css.map */