@font-face {
  font-family: "Dela Gothic One";
  src: url(../Fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
  font-family: "Kumar One";
  src: url(../Fonts/KumarOne-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

svg {
  width: 160px;
  height: 50px;
  position: static;
  background: radial-gradient white, black;
  border-radius: 90px/50px;
  display: block;
  margin: auto;
}

body {
  background-color: #323232;
  margin: 0;
}
body #quick-menu {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
  font-size: 40px;
}
body #heading {
  display: flex;
  z-index: 9;
  position: absolute;
  top: 0;
  opacity: 0;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
body #heading .identify {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #heading .identify h2 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body #heading .identify input {
  width: 70%;
  margin-bottom: 30px;
  border-radius: 30px;
}
body #heading .identify .buttons {
  width: 70%;
}
body #heading .identify .buttons a .entry {
  float: left;
  width: 100px;
  height: 40px;
  border-radius: 90px;
  border: 2px solid red;
}
body #heading .identify .buttons a .registr {
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 90px;
  border: 2px solid red;
}
body #heading svg {
  width: 160px;
  height: 50px;
  position: static;
  background: radial-gradient white, black;
  border-radius: 90px/50px;
  display: block;
  margin: auto;
}
body #heading .floating-menu {
  width: 100%;
  height: 1000px;
  margin: auto;
  padding: 0;
  display: block;
  justify-content: center;
  justify-content: space-around;
  background: linear-gradient(rgb(37, 37, 37), black);
  border-radius: 5px; /* rounded corners */
  right: calc(50% - 300px);
  z-index: 1000; /* make sure the menu is on top of other elements */
}
body #heading .floating-menu li {
  display: flex;
  margin: auto;
  width: 70%;
  margin-bottom: 50px;
  margin-top: 10px;
  font-family: Kumar One;
  justify-content: space-between;
  text-align: center;
  background-color: #C3A3A3;
  height: 20px;
  justify-content: center;
  align-items: center;
}
body #heading .floating-menu li a {
  color: black;
}

#moviesContainer {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  overflow: scroll;
  width: 100%;
}
#moviesContainer .movie {
  width: 200px;
  margin: 60px;
  text-align: center;
  box-sizing: border-box;
  transform: translate(0);
}
#moviesContainer .movie img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}
#moviesContainer .movie h3 {
  height: 5px;
  color: grey;
}
#moviesContainer .movie h2 {
  font-family: Dela Gothic One;
  color: rgb(240, 240, 240);
  font-size: 18px;
  margin-bottom: 60px;
  height: 40px;
  font-weight: lighter;
}
#moviesContainer .movie p {
  font-family: Kumar One;
  height: 40px;
  margin-bottom: 30px;
  color: grey;
}
#moviesContainer .movie div {
  color: white;
  margin: auto;
  border: 4px solid red;
  border-radius: 20px/20px;
  height: 40px;
  padding-top: 5px;
}
#moviesContainer .movie a {
  background-color: black;
  border: 4px solid red;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  color: white;
}
#moviesContainer a:hover {
  transition: all 0.2s ease-out;
  background-color: white;
  color: black;
}

footer {
  text-align: center;
  background-color: rgb(63, 63, 63);
  margin-bottom: 0;
}

.movie {
  padding-top: 50px;
  margin: auto;
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
}
.movie div {
  text-align: center;
}
.movie div .name {
  font-family: Dela Gothic One;
  color: white;
  font-weight: lighter;
}
.movie div .age {
  font-family: Kumar One;
  color: grey;
}
.movie .image {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}
.movie .bib {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Kumar One;
  gap: 50px;
  justify-content: space-around;
  background-color: rgb(61, 59, 59);
  box-sizing: padding-box;
}
.movie .bib .descript {
  text-align: left;
  color: white;
}
.movie .bib .descript .description {
  margin-bottom: 40px;
  text-align: center;
}
.movie .bib .descript .time {
  color: grey;
  font-size: 15px;
  text-align: center;
}
.movie .bib .descript .tags {
  color: grey;
  font-size: 15px;
  text-align: center;
}/*# sourceMappingURL=P2M.css.map */