@font-face {
  font-family: "Dela Gothic One";
  src: url(../Fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
  font-family: "Kumar One";
  src: url(../Fonts/KumarOne-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #323232;
  margin: 0;
}
body .sessions {
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
}
body .trailer div {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .trailer div iframe {
  width: 100%;
  margin-top: 50px;
  height: 640px;
}
body .enter {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  align-items: center;
  font-family: Kumar One;
  color: white;
  text-align: center;
}
body .enter .cinema {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .enter .dateone {
  width: 90px;
  height: 90px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .enter .datetwo {
  height: 90px;
  width: 90px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .enter .datethree {
  width: 90px;
  height: 90px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body h3 {
  text-align: center;
  color: white;
}
body .tickets {
  border-top: 1px solid white;
  border-bottom: solid 1px white;
  padding-bottom: 40px;
}
body .more {
  margin-top: 80px;
  text-align: center;
  color: white;
}
body svg {
  width: 48px;
  height: 50px;
  position: fixed;
  background: radial-gradient white, black;
  border-radius: 90px/50px;
  display: block;
  margin: auto;
  z-index: 9;
  right: calc(50% - 24px);
}
body #quick-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 10;
  font-size: 40px;
}
body .identify {
  display: none;
}
body #moviesContainer {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  overflow: scroll;
  width: 100%;
}
body #moviesContainer .movie {
  width: 200px;
  margin: 60px;
  text-align: center;
  box-sizing: border-box;
  transform: translate(0);
}
body #moviesContainer .movie img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}
body #moviesContainer .movie h3 {
  height: 5px;
  color: grey;
}
body #moviesContainer .movie h2 {
  font-family: Dela Gothic One;
  color: rgb(240, 240, 240);
  font-size: 18px;
  margin-bottom: 60px;
  height: 40px;
  font-weight: lighter;
}
body #moviesContainer .movie p {
  font-family: Kumar One;
  height: 40px;
  margin-bottom: 30px;
  color: grey;
}
body #moviesContainer .movie div {
  color: white;
  margin: auto;
  border: 4px solid red;
  border-radius: 20px/20px;
  height: 40px;
  padding-top: 5px;
}
body #moviesContainer .movie a {
  background-color: black;
  border: 4px solid red;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  color: white;
}
body #moviesContainer a:hover {
  transition: all 0.2s ease-out;
  background-color: white;
  color: black;
}
body #quick-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 10;
  font-size: 40px;
}
body #heading {
  top: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-3000px);
  position: fixed;
  right: calc(50% - 300px);
  z-index: 999;
}
body #heading a {
  position: fixed;
  z-index: 99;
}
body #heading a svg {
  width: 160px;
  height: 50px;
  position: absolute;
  margin-left: 200px;
  background: radial-gradient(white, black);
  border-radius: 90px/50px;
}
body #heading .floating-menu {
  width: 600px;
  height: 50px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  justify-content: space-around;
  background: linear-gradient(white, black);
  border-radius: 5px; /* rounded corners */
  right: calc(50% - 300px);
  z-index: 1000; /* make sure the menu is on top of other elements */
}
body #heading .floating-menu li {
  display: flex;
  flex-wrap: wrap;
  font-family: Kumar One;
  justify-content: space-between;
  text-align: center;
  background-color: #C3A3A3;
  width: 120px;
  height: 20px;
  margin: auto;
  vertical-align: top;
  justify-content: center;
  align-items: center;
}
body #heading .floating-menu li a {
  color: black;
}
body footer {
  text-align: center;
  background-color: rgb(63, 63, 63);
  margin-bottom: 0;
}
body .movie {
  padding-top: 50px;
  margin: auto;
  display: flex;
  width: 70%;
  justify-content: center;
  flex-direction: column;
}
body .movie div {
  text-align: center;
}
body .movie div .name {
  font-family: Dela Gothic One;
  color: white;
  font-weight: lighter;
}
body .movie div .age {
  font-family: Kumar One;
  color: grey;
}
body .movie .image {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}
body .movie .bib {
  display: flex;
  align-items: center;
  font-family: Kumar One;
  gap: 50px;
  justify-content: space-around;
  background-color: rgb(61, 59, 59);
  box-sizing: padding-box;
}
body .movie .bib .descript {
  text-align: left;
  color: white;
}
body .movie .bib .descript .description {
  margin-bottom: 40px;
}
body .movie .bib .descript .time {
  color: grey;
  font-size: 15px;
}
body .movie .bib .descript .tags {
  color: grey;
  font-size: 15px;
}
body .info {
  height: 160px;
  bottom: 0;
}
body .info .altimage {
  width: 100%;
  height: 160px;
}/*# sourceMappingURL=P2PC.css.map */